* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* scrollbar style  */

::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #fff;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


* {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

/* scrollbar style ends */
.navigation {
  background: linear-gradient(to bottom, #fe77a6 80%, #41b2db 20%);
  color: #fff;
  padding-top: 5px;
  height: 100px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.brand img {
  width: 120px;
  height: 70px;
}

nav {
  display: flex;
  align-items: center;
}

.nav-mobile {
  display: none;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  padding-left: 1.5rem;
}

.nav-list a:hover {
  color: #ffcc00;
}

.hamburger-icon {
  margin-right: 2rem;
}

.hamburger-icon span {
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

@media screen and (max-width: 800px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    background: #fe77a6;
    z-index: 100;
  }

  .nav-list.show {
    display: flex;
  }

  .brand img {
    margin-left: 1rem;
  }

  .nav-list li {
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  .nav-mobile {
    display: block;
  }

  #navbar-toggle {
    cursor: pointer;
  }

  #navbar-toggle.active .hamburger-icon span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  #navbar-toggle.active .hamburger-icon span:nth-child(2) {
    opacity: 0;
  }

  #navbar-toggle.active .hamburger-icon span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* nabar end  */

#carousel .carousel-inner {
  max-height: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
  border: none;
}

#carousel .carousel-inner img {
  min-height: 620px;
  max-height: 620px;
  object-fit: fill;

  width: 100%;

}





/* products page */
.Heading-1 {
  margin: 9rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.outer-box {
  width: 300px;
  height: 300px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 1rem;
}

.inner-box {
  width: 250px;
  height: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
}

.inner-box:hover {
  transform: scale(1.1);
  z-index: 2;
}

.text-property {
  list-style-type: none;
  padding: 0;
  position: relative;
  right: 1rem;
}

.text-property ul {
  padding: 0;
}

.text-property li {
  font-size: 18px;
}

#button-col {
  width: 80%;
}

.button-container {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  /* gap: 10px; */
  /* background-color: #ececec; */
  margin-left: 20px;
}

.button-container ul {
  width: fit-content;
  background-color: #f4f4f4;
  list-style: square;
  padding: 10px 20px;
  /* margin-left: -16rem; */
  float: right;
  padding: 2rem;
  margin-right: -2rem;
  position: relative;
}

.button-container hr {
  position: absolute;
  margin-left: -32px;
  margin-top: -5px;
  padding: 0;
  width: 40%;
  border: 1px solid #e0dddd;
}
@media (max-width:568px){
  #carousel .carousel-inner{
    max-height: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    border: none;
  }
  
  #carousel .carousel-inner img {
    min-height: 250px !important;
    max-height: 250px !important;
    object-fit: fill;
    border: none	;
  }
}
.button-container button {
  /* margin: 5px; */
  border: none;
  background-color: transparent;

}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  hr {
    display: none;
  }

  .button-container {
    position: relative;
    width: 100%;
    flex-direction: row;
    background-color: transparent;
    margin-left: -1.5rem;
  }

  .button-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 1rem;
    padding: 0;
    background-color: transparent;

  }

  .button-container ul li a {
    text-decoration: none;
    padding: 5px;
  }



  #products {
    padding: 0;
    margin: 0;
  }

  .product-container {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .product-card {
    width: 80%;
    min-width: 80%;
    object-fit: contain;
    height: auto;
    border: none;
  }

  .product-card img {
    object-fit: contain;
    max-width: 70%;
    height: 80%;
    border-radius: 5px;
  }

  .product-description {
    width: fit-content;
    text-align: center;
    /* margin-left: 4rem; */
  }

  table,
  td,
  tr {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  /* .modal {
    width: 100%;
    display: flex;
    align-items: center;

  }

  .modal-content {
    max-width: 80%;
    max-height: 90%;
  }

  .modal-content img {
    object-fit: contain;
    padding: 0;
    margin: 0;
  } */
}



.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  width: 100%;
}

.product-card {
  width: 30%;
  /* Set the desired width */
  text-align: center;
  margin: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.product-card img {
  width: 100%;
  /* Make the image fill its container */
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
}

.product-description {
  width: fit-content;
  text-align: center;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 80%;
    /* Adjust the width for smaller screens */
  }

  .modal-content {
    width: 100%;
    object-fit: contain;
    height: fit-content;
  }

  .modal-content img {
    object-fit: contain;
  }
}


.hover-div {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: filter 0.3s;
}

.hover-div:hover {
  filter: blur(4px);
}

.icons-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.icon {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.product {
  position: relative;
  width: 30%;
  max-height: 20px;
  margin: 4rem auto;
  margin-left: 4rem;
}

.product-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.cards {
  flex: 0 0 80%;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 10px;
}



.next {
  position: absolute;
  background-color: #f1f1f1;
  border: none;
  color: #000;
  padding: 5px 5px;
  cursor: pointer;
  right: 6rem;
}


.next {
  right: -40rem;
}


/* body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; } */

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}



h2 {
  font-size: 20px;
}

.bg-left-half {
  position: relative;
}

.bg-left-half:before {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -1;
  content: "";
  left: 0;
  top: 0;
  background-color: #f8f9fa;
}

.media-29101 img {
  margin-bottom: 20px;
}

.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important;
}

.media-29101 h3 a {
  color: #6c757d;
}

.owl-2-style .owl-nav {
  display: none;
}

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px;
}

.owl-2-style .owl-dots .owl-dot {
  display: inline-block;
}

.owl-2-style .owl-dots .owl-dot span {
  display: inline-block;
  width: 15px;
  height: 3px;
  border-radius: 0px;
  background: #cccccc;
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  margin: 3px;
}

.owl-2-style .owl-dots .owl-dot.active span {
  background: #007bff;
}

.owl-2-style .owl-dots .owl-dot:active,
.owl-2-style .owl-dots .owl-dot:focus {
  outline: none;
}


@media (max-width: 575.98px) {
  .brand img {
    width: 100px;
    height: 80px;
    margin-left: 20px;
  }

}

#foot {
  justify-content: space-between;
  display: flex;
  padding: 5px 70px;
}

.foot2 ul li i {
  color: #007bff;
}